@import url("https://fonts.googleapis.com/css?family=Montserrat");

:root {
  --green: #2ddf5c;
  --light-green: #d5ffdc;
  --dark-green: #19b84c;
  --light-grey: #ccc;
  --grey: #858585;
  --greyer: #979797;
  --dark-grey: #0e4f1f;
  --light-red: #ff5454;
  --red: #ff1b68;
  --light-pink: #ffcede;
  --light-black: #424242;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

.main-header {
  width: 100%;
  background-color: var(--green);
  padding: 8px 16px;
}

.main-header > div {
  display: inline-block;
  vertical-align: middle;
}

.main-header__brand {
  color: var(--dark-grey);
  text-decoration: none;
  font-weight: bold;
  font-size: 22px;
}

.main-nav {
  display: inline-block;
  text-align: right;
  width: calc(100%-74px);
  vertical-align: middle;
}

.main-nav__items {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__item {
  display: inline-block;
  margin: 0 16px;
}

.main-nav__item a {
  text-decoration: none;
  color: var(--dark-grey);
  font-weight: bold;
  padding: 3px 0;
}

.main-nav__item a:hover,
.main-nav__item a:active {
  color: white;
  border-bottom: 5px solid white;
}

.main-nav__item--cta a {
  color: white;
  background: var(--red);
  padding: 8px 16px;
  border-radius: 8px;
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active {
  color: var(--red);
  background: white;
  border: none;
}

.main-footer {
  background: black;
  padding: 32px;
  margin-top: 48px;
}

.main-footer__links {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.main-footer__link a {
  color: white;
  text-decoration: none;
}

.main-footer__link a:hover,
.main-footer__link a:active {
  color: var(--light-grey);
}

.button {
  background: var(--dark-grey);
  color: white;
  font: inherit;
  border: 1.5px solid var(--dark-grey);
  padding: 8px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

.button:hover,
.button:active {
  background: white;
  color: var(--dark-grey);
}

.button:focus {
  outline: none;
}
